version: "3.9"

services:
  backend:
    build: ../backend
    ports:
      - "8000:8000"

  frontend:
    build: ../frontend
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://localhost:8000/api

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.1
    container_name: keycloak
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    ports:
      - "8080:8080"