version: "3.9"

services:
  backend:
    build: ../backend
    env_file:
      - ../backend/.env
    extra_hosts:
      - "localhost:host-gateway"
    ports:
      - "8000:8000"
    depends_on:
      - keycloak

  frontend:
    build:
      context: ../frontend
      args:
        VITE_API_URL: http://localhost:8000/api
        VITE_OIDC_URL: http://localhost:8080
        VITE_OIDC_REALM: lattice
        VITE_OIDC_CLIENT_ID: admin-app
    ports:
    - "3000:80"

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.1
    container_name: keycloak
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    ports:
      - "8080:8080"