version: "3.9"

services:
  backend:
    build: ../backend
    ports:
      - "8000:8000"

  frontend:
    build: ../frontend
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://localhost:8000/api
